.card-main {
    display: flex;
    border: 0px solid;
    border-radius: 10px;
    margin: 40px 70px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.card-profile {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    margin-top: 50px;
}

.card-profile h1 {
    margin-bottom: 12px;
}

.card-image {
    margin: 50px;
    border-radius: 10px
}

.link {
    display: flex;
    flex-direction: column;
}

.btn-contact1 {
    color: white;
    background-color: #111727;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 50px;
    padding: 6px;
    width: 90px;
    font-size: 12px;
    text-align: center;
}

.btn-cv {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
}

.download-cv {
    height: 24px;
}

.card-image img {
    width: 100%;  
    margin-top: -60px;
    height: 370px;
    box-shadow: 0px 0px 2px 0px black; 
    border-radius: 10px;
}

.card-identity {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: -9px;
}

.sosmed {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}

.sosmed-link{
    margin-left: 0px;
}

.row {
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 768px) {
    .card-main {
        display: flex;
        border: 0px solid;
        border-radius: 10px;
        margin: 70px 100px;
        background-color: white;
        box-shadow: 0px 0px 5px 0px black;
    }


    .row {
        flex-direction: row; 
    }

    .card-profile {
        display: flex;
        flex-direction: column;
        margin: 50px 50px;
        margin-top: 100px;
    }

    .card-profile h1 {
        margin-bottom: 12px;
    }

    .link {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .btn-cv {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .btn-contact1 {
        color: white;
        background-color: #111727;
        text-decoration: none;
        margin-top: 30px;
        border-radius: 50px;
        padding: 6px;
        width: 90px;
        font-size: 12px;
        text-align: center;
    }

    .btn-cv {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        margin-top: 30px;
    }
    
    .download-cv {
        height: 24px;
    }

    .sosmed {
        display: flex;
        margin-top: 50px;
        justify-content: left;
        gap: 20px;
    }

    .sosmed-link{
        margin-left: 10px;
    }

    .card-image {
        margin: 50px;
        border-radius: 10px
    }

    .card-image img {
        width: 100%;  
        margin-top: 0px;
        height: 370px;
        box-shadow: 0px 0px 2px 0px black; 
        border-radius: 10px;
    }
    
    .card-identity {
        text-align: center;
        background-color: whitesmoke;
        padding: 10px;
        margin-top: -9px;
    }
    
    .col-8 {
        width: 66.66%; 
    }

    .col-4 {
        width: 33.33%; 
    }
}


